.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}


.img-sabor{
  max-width: 220px;
  max-height: 300px;
  padding-left: 2px;
  padding-left: 2px;
}

.img-adicional{
  max-width: 50px;
  max-height: 50px;
  padding-left: 2px;
  padding-left: 2px;
}
.container {
          display: flex;
           flex-direction: row;
           justify-content: center;
           align-items: center
     }


.resumo-card {
  max-width: 500px;
  max-height: 600px;
}
